<div class="container">
    <h1>Traffic Signs List</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Status</th>
          <th>Road Name</th>
          <th>Coordinates</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sign of trafficSigns">
          <td>{{ sign.id }}</td>
          <td>{{ sign.properties.rvvCode }}</td>
          <td>{{ sign.properties.status }}</td>
          <td>{{ sign.properties.roadName }}</td>
          <td>{{ sign.geometry.coordinates.join(', ') }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  